@model RegisterVM

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <form method="post">
                        <div class="login-form">
                            <h4 class="login-title">Register</h4>
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-md-6 col-12">
                                    <label>Name</label>
                                    <input asp-for="Name" placeholder="Name" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <label>Surname</label>
                                    <input asp-for="Surname" placeholder="Surname" />
                                    <span asp-validation-for="Surname"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Username</label>
                                    <input asp-for="Username" placeholder="Username" />
                                    <span asp-validation-for="Username"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Email</label>
                                    <input asp-for="Email" placeholder="Email" />
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <input asp-for="Password" placeholder="Password" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Confirm Password</label>
                                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-pronia-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
